<div class="span6 offset3">
    <ul class="unstyled">
    <% @tweets.reverse.each do |tweet| %>
      <li>
        <img src="<%= grab_user_avatar(tweet.tweet_id) %>" alt="<%= tweet.user %>"> <span id="user"><%= hyperlink_the_tings("@#{tweet.user}") %></span> <span id="content"><%= hyperlink_the_tings(tweet.content) %></span> (<span id="tweet-id"><%= tweet.tweet_id %></span>)</li>
    <% end %>
    </ul>

    <%= link_to 'Fetch a new tweet!', new_tweet_path %>
</div>