<div class="span6 offset3">
    <p class="alert alert-success" id="notice"><%= notice %></p>

    <ul class="unstyled">
        <li>User: <%= @tweet.user %></li>
        <li>Tweet ID: <%= @tweet.tweet_id %></li>
        <li>Status: <%= @tweet.content %></li>
    </ul>


    <%= link_to 'Back', tweets_path %>
</div>